{% extends "base.html" %}
{% load i18n %}
{% load l10n%}
{% block title %}{% trans 'Setting New password' %}{% endblock %}


{%block header%}
{% if validlink %}
<h3>{% trans 'Please enter your new password twice' %}.<br />
           {% trans 'So we can verify you typed it in correctly' %}.</h3>
{% else %}
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
        <h3>{% trans 'The password reset link was invalid' %}. <br />
        {% trans 'Please request a new password reset' %}.</h3>
        <h4><a href="{% url 'index' %}">{% trans 'Home' %}</a></h4>
{% endif %}
{%endblock header%}

{%block column2%}
{% if validlink %}
  <form action='' method='post'>
    {% csrf_token%}
    <div class="form-group">
      <label for="new_password1">{% trans 'New password' %}:</label>
      <input class="form-control" type="password" name="new_password1" value="" id="new_password1">
    </div>
    <div class="form-group">
      <label for="new_password2">{% trans 'Confirm password' %}:</label>
      <input class="form-control" type="password" name="new_password2" value="" id="new_password2">
    </div>
    <button type="submit" class="btn btn-default">{% trans "Change my password"%}</button>
  </form>
{% endif %}
{%endblock column2%}
