{% extends "base.html" %}
{% load i18n %}
{% load l10n%}
{% block title %}{% trans 'Reset Password'%}{% endblock %}


{%block header%}
  <h3>{% trans 'Please specify your email address to receive instructions for resetting it'%} </h3>
{%endblock%}
{%block column1%}

{%endblock column1%}
{%block column2%}
  <form action="" method="post">
    {% csrf_token%}
    <div class="form-group">
      <label for="email">{% trans 'E-mail address' %}:</label>
      <input class="form-control" type="email" name="email" value="" id="email">
    </div>
    {%if form.errors %}
      <div class="alert alert-danger" role="alert">
        {%for error in form.errors%}
          {{form.email.errors}}
        {%endfor%}
      </div>
    {%endif%}
    <button type="submit" class="btn btn-success">{% trans 'Reset' %}</button>
  </form>
{%endblock column2%}
