{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load l10n%}
{% load thumbnail %}
{% block title %}
{% trans 'Update your information' %}
{% endblock %}

{%block header%}
<script type="text/javascript" src="{% static 'js/fancybox/fancybox_js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'js/fancybox/source/jquery.fancybox.pack.js' %}"></script>
<h3>{% trans 'Update your information' %}</h3>
{%endblock header%}

{%block column2%}
  <form method="post"  enctype="multipart/form-data">
    {% csrf_token%}
    <div class="form-group">
      <label for="first_name">{% trans 'First name' %}:</label>
      <input class="form-control" type="text" name="first_name" id="first_name" value={{form.first_name.value|default_if_none:""}}>
      {%if form.first_name.errors%}
        <div class="alert alert-danger" role="alert">
          {{form.first_name.errors}}
        </div>
      {%endif%}
    </div>
    <div class="form-group">
      <label for="last_name">{% trans 'Last name' %}:</label>
      <input class="form-control" type="text" name="last_name" v id="last_name" value={{form.last_name.value|default_if_none:""}}>
      {%if form.last_name.errors%}
        <div class="alert alert-danger" role="alert">
          {{ form.last_name.errors}}
        </div>
      {%endif%}
    </div>
    <div class="form-group">
      <label for="bio">{% trans 'Biography' %}:</label>
      <input class="form-control" type="text" name="bio" id="bio" value={{form.bio.value|default_if_none:""}}>
      {%if form.bio.errors%}
        <div class="alert alert-danger" role="alert">
          {{ form.bio.errors}}
        </div>
      {%endif%}
    </div>
    <div class="form-group">
      <label for="image">{% trans 'Image' %}:</label>
        {% if info.image %}
          <a class="fancybox" href="{{ info.image.url }}">
            {% thumbnail info.image "100x100"  as im %}
              <img src="{{ im.url }}" />
            {% endthumbnail %}
          </a>
        {% endif%}
      <input class="form-control" type="file" name="image" id="image"
      value=''/>
      {% if form.image.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.image.errors }}
        </div>
      {%endif%}
    </div>
    <div class="form-group">
      <label for="birthdate">{% trans 'Birtdate' %}:</label>
      <input class="form-control" type="text" name="birthdate"  id="datepicker" value={{form.birthdate.value|default_if_none:""|date:"SHORT_DATE_FORMAT"}}>
      {%if form.birthdate.errors%}
        <div class="alert alert-danger" role="alert">
          {{form.birthdate.errors}}
        </div>
      {%endif%}
    </div>
    <div class="form-group">
      <label for="jabber">{% trans 'Jabber' %}:</label>
      <input class="form-control" type="text" name="jabber" id="jabber" placeholder="Add your Jabber" value={{form.jabber.value|default_if_none:""}}>
      {%if form.jabber.errors%}
        <div class="alert alert-danger" role="alert">
          {{form.jabber.errors}}
        </div>
      {%endif%}
    </div>
    <div class="form-group">
      <label for="skype_id">{% trans 'Skype' %}:</label>
      <input class="form-control" type="text" name="skype" id="skype" placeholder="Add your Skype" value={{form.skype.value|default_if_none:""}}>
      {%if form.skype.errors%}
        <div class="alert alert-danger" role="alert">
          {{form.skype.errors}}
        </div>
      {%endif%}
    </div>
    <div class="form-group">
      <label for="other_contacts">{% trans 'Ohter contacts' %}:</label>
      <input class="form-control" type="text" name="other_contacts" id="other_contacts" placeholder="Add your other contacts" value={{form.other_contacts.value|default_if_none:""}} >
      {%if form.other_contacts.errors%}
        <div class="alert alert-danger" role="alert">
          {{form.other_contacts.errors}}
        </div>
      {%endif%}
    </div>
    <br>
    <button type="submit" class="btn btn-success">{% trans 'Update your information' %}</button>
  </form >
  <script src="{% static 'js/datepicker.js' %}"></script>
  <script src="{% static 'js/fancybox.js' %}"></script>
{%endblock column2%}
